# Place in /etc/systemd/system/vsmp.service
[Unit]
Description=Very Slow Movie Player

[Service]
Type=simple
Restart=always
RestartSec=120
ExecStart=python3 /home/pi/vsmp/display.py

[Install]
WantedBy=multi-user.target